/* For the top Nav housing strip */
html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  overflow-x: none;
  
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

/* Navilgation bar styles */
nav {
  background: hsl(360, 71%, 66%);
  box-shadow: 0.1rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 8rem;
  top: 0rem;
  transition: all 0.7s ease-in;
  box-shadow: 0.4rem 0.5rem 1.5rem rgba(0.5, 0.5, 0.5, 0.5);
    /* position: absolute; */
  z-index: 1;
}

.logo {
  height: 8.2rem;
  top: -0.1rem;
  left: -0.1rem;
  border: 0.2rem solid hsl(360, 71%, 66%);
  position: absolute;
}

/* Navigation Screen parameters */
.nav-center {
  max-width: 217rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  top: 0.1rem;
}
.links-container1 {
  top: 0.3rem;
  left: 18rem;
  position: relative;
  letter-spacing: 0.2rem;
}

.links-container2 {
  top: 0.3rem;
  left: -3rem;
  position: relative;
  letter-spacing: 0.2rem;
}

.links {
  display: flex;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
.links a {
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: capitalize;
  transition: all 0.4s linear;
  color: hsl(200, 11%, 5%);
}
.links a:hover {
  background: transparent;
  transition: cubic-bezier(1, 0, 0, 1);
  color: #fff;
}

/* Start of styling for Page Heading */
.page-hero {
  min-height: 13vh;
  display: grid;
  place-items: center;
  margin-top: 3rem;
  padding-top: 2rem;
  background: rgb(255, 221, 221);
  color: rgb(8, 8, 8);
}

.page-hero-title {
  margin-bottom: -3rem;
  font-weight: bold;
  font-style: oblique;
}

.page-hero-title_2 {
  margin-bottom: -3rem;
  margin-left: 0.6rem;
  font-weight: bold;
  font-style: oblique;
  color: hsl(360, 71%, 66%);
  font-size: 3.5rem;
}


/* End of styling for Page Heading */

/* Login and Register styling */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.midSection {
  width: 100vw;
  max-width: 117rem;
  margin-bottom: 12%;
  background: #fff;
  border-radius: 1rem;
  padding: 0.7rem;
}
.midBlock {
  max-width: 55rem;
}
.loginRegform h2 {
  border-bottom: 1rem solid hsl(360, 71%, 66%);
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  color: hsl(360, 71%, 66%);
}
.loginReg-control {
  margin-bottom: 2rem;
}
.loginReg-control label {
  display: block;
  font-weight: bold;
  color: hsl(0, 0%, 2%);
  padding: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-style: oblique;
}
.loginReg-input {
  border: none;
  background: hsl(210, 36%, 96%);
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.35rem;
}
.errorLogin {
  color: hsl(360, 71%, 66%);
  margin-top: 2rem;
  margin-left: 2rem;
}

.container {
  width: 90vw;
  margin: 8rem 1.1rem;
  background: #fff;
  border-radius: 0.25rem;
  padding: 4.5rem 8rem;
  border: 0.2rem solid hsl(360, 71%, 66%);
  box-shadow: 0.8rem 1rem 2.5rem rgba(0.5, 0.5, 0.5, 0.5);
}

.regLog-btn {
  text-transform: uppercase;
  background: hsl(360, 71%, 66%);
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0.2rem solid transparent;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.35rem;
  display: block;
  width: 14rem;
  margin: 0 auto;
  margin-top: 3rem;
}

/* Style for Radio Buttons */
#rad1 {
  float: left;
  clear: none;
  display: block;
}

.reg-btn {
  text-transform: uppercase;
  background: hsl(360, 71%, 66%);
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0.2rem solid transparent;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.35rem;
  display: block;
  width: 12rem;
  margin: 0 auto;
  margin-top: 4.5rem;
}

.home-btn {
  text-transform: uppercase;
  background: hsl(360, 71%, 66%);
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0.5rem solid transparent;
  cursor: grab;
  box-shadow: 1 1rem 1rem rgba(12, 11, 11, 0.2);
  border-radius: 0.4rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  margin-top: 4.5rem;
}

/* Start of CSS for house Listings on Home Page */
.caption h2 {
  text-decoration: underline;
  margin-top: 11rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  color: hsl(360, 71%, 66%);
}

.Houselist {
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem auto;
  display: grid;
  gap: 1rem;
  width: fit-content;
}

.house {
  border: 0.05rem solid hsl(360, 71%, 66%);
  background: #fff;
  border-radius: 0.25rem;
  padding: 3rem;
  text-align: center;
  margin: 1rem;
  box-shadow: 0.4rem 0.5rem 1.5rem rgba(0.2, 0.2, 0.2, 0.2);
  width: 48rem;
}

.house h1 {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: hsl(360, 71%, 66%);
}

.house img {
  height: 30rem;
  width: 40rem;
}

.house:hover {
  background-color: rgb(240, 235, 235);
}

.house a {
  text-decoration: none;
  color: black;
}
.house a:hover {
  color: black;
}
/* End of CSS for house Listings on Home Page */

/* Start for CS for Ad Post page */
.AdPostList {
  margin: 4rem auto;
  display: grid;
  width: 50rem;
}

.AdPostList-article {
  border: 0.2rem solid hsl(360, 71%, 66%);
  background: #fff;
  border-radius: 0.25rem;
  padding: 3rem 1rem;
  text-align: center;
  margin: 1rem;
  box-shadow: 1rem 1rem 1.5rem rgba(0.2, 0.2, 0.2, 0.2);
}

.AdPostList-article label {
  display: block;
  text-align: left;
  font-weight: bold;
  padding: 1rem;
  color: hsl(0, 0%, 2%);
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-style: oblique;
}

.AdPostList-article input {
  border: black;
  padding: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  width: 50rem;
}
.AdPostList h2 {
  border-bottom: 1rem solid hsl(360, 71%, 66%);
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  color: hsl(360, 71%, 66%);
}

button:focus {
  background: hsl(360, 71%, 66%);
}
/* End for CS for Ad Post page */

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .Houselist {
    grid-template-columns: repeat(3, 0.5fr);
    margin: 4rem auto;
    display: grid;
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 23%;
  }
  .Houselist {
    grid-template-columns: repeat(2, 0.5fr);
    margin: 4rem auto;
    display: grid;
    gap: 1rem;
  }

  .links-container1 {
    left: 11rem;
    top: -6rem;
    position: relative;
  }

  .links-container2 {
    top: -6rem;
    left: -0.1rem;
    position: relative;
  }

  .links a {
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1.5rem;
    text-transform: capitalize;
    transition: all 0.4s linear;
    color: hsl(200, 11%, 5%);
  }
}

@media (max-width: 480px) {
  html {
    font-size: 15%;
  }
  .Houselist {
    grid-template-columns: repeat(2, 0.5fr);
    margin: 4rem auto;
    display: grid;
    gap: 1rem;
  }
  .links-container1 {
    top: -10rem;
    left: 14rem;
    position: relative;
  }

  .links-container2 {
    top: -10rem;
    left: -0.3rem;
    position: relative;
  }
  .links a {
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1.5rem;
    text-transform: capitalize;
    transition: all 0.4s linear;
    color: hsl(200, 11%, 5%);
  }
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.box p{
  font-size:250px;

}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* For Image  */

.slider {
  position: relative;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.image {
  width: 90rem;
  height: 50rem;
  border-radius: 1rem;
}

.right-arrow {
  position: absolute;
  top: 35rem;
  right: 3.2rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 35rem;
  left: 3.2rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
   
/* For Image Gallery */

/* For House details on Hosuse detail page */
.sectionLD {
  padding: 5rem 0;
}

.bg-greyLD {
  background: hsl(210, 36%, 96%);
}

.section-titleLD {
  margin-bottom: 4rem;
  text-align: center;
}

.underlineLD {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background:  hsl(360, 71%, 66%);
  margin-left: auto;
  margin-right: auto;
}

.services-centerLD {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.section-centerLD {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.serviceLD {
  background: #fff;
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.serviceLD:hover {
  background-color: rgb(240, 235, 235);
}

.service-iconLD {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
/* For House details on Hosuse detail page */

/* Filter list UI */
.products {
  width: 90vw;
  display: flex;
  grid-gap: 2rem;
  margin: 5rem auto;
  /* max-width: 1120px; */
}

.filters {
  margin-top: 4rem;
  padding: .5rem;
}

.filters h5 {
  font-weight: bold;
  margin: 1.5rem 0 0.5rem;
  font-size: 1.7rem;
}

/* filters-container */
  .filters-container {
    position: sticky;
    top: 1rem;
  }

  .search-input {
    
    background: #e2e8f0;
    border-radius: 0.5rem;
    letter-spacing: 2px;
    font-style: italic;
  }

  .filterOptn {
    display: block;
    margin: 0.5rem 0;
    padding: 0.25rem;
    text-transform: capitalize;
    background: transparent;
    border-color: transparent;
    letter-spacing: 2.5px;
    color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    font-size: 1.3rem;
    font-style: italic;
  }
  .filterOptn:hover {
    color: hsl(360, 71%, 66%);
  }

/* Filyer List UI */
.form-input {
  /* width: 100%; */
  margin-left: -0.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem ;
  background: rgb(253, 235, 235);
  /* background: #e2e8f0; */
  
}
